<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/head'); -%>
  <%- include('layouts/nav'); -%>
  <section>
    <div class="formData">
        <p> <%= message %> </p>
    </div>
  </section>
<%- include('layouts/site-footer'); -%>
</body>
<%- include('layouts/footer'); -%>