<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/head'); -%>
    <%- include('layouts/nav'); -%>
    <div class="container clearfix home-wrap">
        <main class="fLeft">
            <h1>The best site to read anime blogs online</h1>
            <p class="para-txt">
            Just like free online movie streaming sites, anime watching sites are not created equally, some are better than the rest, so we've decided to build Anime Ninja to be one of the best free anime streaming site for all anime fans on the world. Anime Ninja is a free site to read anime blogs, news, watch anime and you can even download subbed or dubbed anime in ultra HD quality without any registration or payment.
            </p>
            <h2>Explore a wide variety of anime genres</h2>
            <p class="para-txt">
            Watching anime can make you learn about a lot of things starting from the Japanese culture to the different shades of human nature, characters, decisions that humans make along with the various other resources to get entertained with creativity. From Sci-Fi to Horror- popular anime online channels such as gogoanime are always in a tough competition to offer the best watching experience to viewers looking forward to the best anime of various genres.
            </p>
            <h2>Read Mangas to keep up with the storyline</h2>
            <p class="para-txt">
            Do you love reading different Manga? Then you might love watching the cinematic storytelling of the manga with excellent audio visual effects. From the creator's perspective, they sometimes do little changes in anime, but mostly the manga is kept intact for the sake of fans. After reading the manga when you see the anime, you can detect the places where the changes are made. Anime makes you think!
            </p>
        </main>
        <aside class="fRight">
            <img src="/images/home-right1.jpg" alt="Anime Poster">
            <img src="/images/home-right2.jpg" alt="Anime Poster">
        </aside>
    </div>
    <%- include('layouts/site-footer'); -%>
</body>
<%- include('layouts/footer') %>